 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .HeroSection {
        width: 100%;
        height: 100vh;
        position: relative;
        background: linear-gradient(to bottom,#3C2A56,#F4A27E);
    }

    /* Base sprite class */
    .sprite {
        display: block;
        position: absolute;
        background-image: url('SpriteSheet.svg');
        background-repeat: no-repeat;
    }

    /* Individual sprite positions */
    .sprite-title {
        left:50%;

        width: 2100px;
        height: 425px;
        background-position: 0 0;
        opacity: 1;
        position: absolute;
        transform: translatex(-50%) scale(.5);
        z-index: 100;
    }

    .sprite-base-clouds {
        position: absolute;
        bottom: 0%;
        left:0;
        width: 1525px;
        height: 425px;
        background-position: -2100px 0;
               opacity: 1;
        transform: scale(1.7);
        z-index: 200;
    }

    .WaterMillParent{
        right:0%;
        bottom: 0%;
        position: absolute;
        width: 600px !important;
        height: 600px !important;

         transform: scale(.8);
    }

    .sprite-rotating-watermill1 {
        /* border:4px solid rgb(0, 20, 51); */
         position: absolute;
        left: -16%;
        bottom:0%;
        width: 699px;
        height: 450px;
        
        background-position: -831px -425px;
               opacity: 1;
        z-index: 80;
        transform-origin: 46.5% 52%;
        animation: rotate 10s linear infinite;

    }
    
/* .sprite-rotating-watermill1::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    left: 46.5%;
    top: 55%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
} */

    .sprite-rotating-watermill2 {
          position: absolute;
        left: -3%;
        bottom:-1%;
        width: 570px;
        height: 450px;
        background-position: -1530px -425px;
               opacity: 1;
         z-index: 90;
         animation: rotate2 11s linear infinite;

    }
    @keyframes rotate2 {
    0%{
        transform: rotateZ(0deg) scale(.7);
    }
    to{
        transform: rotateZ(-360deg) scale(.7);
    }
}
    @keyframes rotate {
    0%{
        transform: rotateZ(0deg) scale(.9);
    }
    to{
        transform: rotateZ(-360deg) scale(.9);
    }
}


    .sprite-static-watermill {
        position: absolute;
        right: -30%;
        bottom:-30%;
        width: 831px;
        height: 949px;
        background-position: 0 -875px;
               opacity: 1;
        transform: scale(.7);
        z-index: 100;
    }
    
    .sprite-rotating-windmill {
        position: absolute;
        left: 10%;
        top:-8%;
        width: 470px;
        height: 450px;
        transform-origin:52% 50% ;
        background-position: 0 -425px;
               opacity: 1;
                 transform: scale(1);
                 animation: rotate2 11s linear infinite;
    }

    .WindMillParent{
                left:0%;
        top: 15%;
        position: absolute;
        width: 600px !important;
        height: 600px !important;
        /* border: 4px solid red; */
  z-index: 100;
         transform: scale(1.2);
    }
    .sprite-static-windmill {
        position: absolute;
        transform: scale(.5);
        bottom:-40%;
        left:-8%;
        width: 699px;
        height: 949px;
        background-position: -831px -875px;
               opacity: 1;
    }

    .sprite-title-cloud1 {
        width: 470px;
        height: 739px;
        background-position: 0 -2050px;
               opacity: 0;
    }

    .sprite-title-cloud2 {
        width: 1269px;
        height: 739px;
        background-position: -831px -2050px;
               opacity: 0;
    }

    .sprite-stars {
        position: absolute;
        top:-20%;
        width: 1952px;
        height: 450px;
        background-position: -2100px -425px;
               opacity: 1;
                z-index: 10;
    }

    .sprite-geometric-circle-grid {
        width: 1952px;
        height: 1394px;
        background-position: -2100px -1395px;
               opacity: 1;
               z-index: 10;
               left:-5%;
    }

    .sprite-babbage-machine {
        position: absolute;
        left:50%;
        bottom:-15%;
        width: 1269px;
        height: 739px;
        background-position: -831px -2050px;
               opacity: 1;
               transform: translateX(-50%) scale(.5);
        z-index: 100;
    }
 